<ul class="nav nav-pills">
    <li role="presentation"><img id="logo" alt="Rent A Flat" src="img/logo.jpeg"></li>

    <li role="presentation" ng-class="active"><a href="#/home">Home</a></li>

    <!-- user not logged in -->
    <li role="presentation"><a href="#/login">Login</a></li>

    <!-- user logged in -->
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Username <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Notifications <span class="badge">100</span></a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
        </ul>
    </li>
</ul>

<hr />