<h4>Your results</h4>
<table class="overviewTable table table-bordered">
    <tr>
        <th>Title</th>
        <th>Rooms</th>
        <th>Location</th>
        <th>Price</th>
    </tr>
    <tr ng-repeat="flat in flats" ng-click="flatSelected(flat.Id)">
        <td>{{flat.Title}}</td>
        <td>{{flat.RoomCount}}</td>
        <td>{{flat.Location}}</td>
        <td>{{flat.Price}}</td>
    </tr>

    <!--<tbody ng-repeat="offer in myOffers">-->
    <!--<tr>-->
    <!--<td>{{offer.flat}}</td>-->
    <!--<td>{{offer.interest}}</td>-->
    <!--<td>-->
    <!--<button type="button" class="btn btn-success btn-sm">Accept</button>-->
    <!--<button type="button" class="btn btn-danger btn-sm">Reject</button>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
</table>