<div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 form-group">

        <div class="alert alert-info">
            <b>Search for a Flat!</b>
        </div>

        <div class="input-group">
            <div class="input-group-addon">Location</div>
            <input type="text" ng-model="location" class="form-control" placeholder="Search Flat">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="search()">Search flat</button>
    </div>
</div>