<div class="alert alert-info">
    <b>Rent A Flat: </b>Search
</div>

<div class="container">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-sm-offset-4 form-group">
        <div class="input-group">
            <div class="input-group-addon">Location</div>
            <input type="text" ng-model="location" class="form-control" placeholder="Search Flat">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="search()">Search flat in {{location}}</button>
    </div>
</div>